@media (max-width: 575.98px) {
  .event-full .field--name-field-impressions>.field__item {
      margin: 1rem 0 1rem 0;
      display: block;
  }
}

@media (min-width: 576px) {
  .event-full .field--name-field-impressions>.field__item {
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, 0.15);
      box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
      padding: 8px;
      border-radius: 2px;
      display: inline-block;
      margin-bottom: 1rem;
      display: block;
      margin: 0;
  }

  .event-full .field--name-field-impressions {
      display: grid;
      grid-auto-rows: 1fr;
      grid-column-gap: var(--gutter);
      grid-row-gap: var(--gutter);
      align-items: center;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .event-full .field--name-field-impressions {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .event-full .field--name-field-impressions {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .event-full .field--name-field-impressions {
      grid-template-columns: repeat(3, 1fr);
  }
}

.event-full .field--name-field-impressions .field__item img {
  margin: 0;
  padding: 0;
}