.sdg-div {
  display: flex;
  min-width: 285px;
  max-width: 285px;
  flex-direction: column;
}

.sdg-logo {
  width: 100%;
}

.sdg-list {
  display: flex;
  gap: 0.05rem;
  flex-wrap: wrap;
  margin: 0.1rem auto;
}

.sdg-icon-grey,
.sdg-icon-colour {
  width: 33%;
}

.sdg-icon-grey {
  filter: gray;
  -webkit-filter: grayscale(1); /* Old WebKit */
  -webkit-filter: grayscale(100%); /* New WebKit */
  filter: grayscale(100%); /* Current draft standard */
  border: 2px solid transparent;
}

.sdg-icon-grey:hover,
.sdg-icon-colour:hover {
  filter: none;
  -webkit-filter: none; /* Old WebKit */
  -webkit-filter: none; /* New WebKit */
  filter: none; /* Current draft standard */
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.05);
  border: 2px solid white;
}
