.sdg-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sdg-logo {
  width: 100%;
}

.sdg-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.05rem;
  margin: 0.1rem auto;
  max-width: 290px;
}

.sdg-icon {
  width: 33%;
  height: auto;
}

.sdg-icon.grey {
  filter: $mid-dark-grey;
  -webkit-filter: grayscale(1); /* Old WebKit */
  -webkit-filter: grayscale(100%); /* New WebKit */
  filter: grayscale(100%); /* Current draft standard */
}

.sdg-icon.grey:hover {
  border: 2px solid #fff;
}

.sdg-icon.colour {
  filter: none;
  -webkit-filter: none; /* Old WebKit */
  -webkit-filter: none; /* New WebKit */
  filter: none; /* Current draft standard */
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.05);
}
