@import "colors"; // reusable colors.

.tag-input {
  margin-top: 3px;
  min-height: 60px;
  max-width: 100%;
  padding: 1px;
  border: 1px solid $mid-pale-grey;
  border-radius: .25rem;
  background-color: white;
  label{
    height: 19.2px;
    font-size: 0.8rem;
    font-weight: bold;
    margin: auto 0.8rem auto 0.8rem;
  }
}

.react-tags {
  position: relative;
  padding: 0 0 0 12px;
  //border: 1px solid $mid-pale-grey;
  border-radius: 10px;
  background-color: white;
  z-index: 1;
  color: $dark-grey;

  height: 55%;
  /* shared font styles */
  //font-size: 1em;
  line-height: 1.2;

  /* clicking anywhere will focus the input */
  cursor: text;
}

.react-tags:hover {
  border-color: $dark-grey;
  color: $dark-grey;
}

.react-tags.is-focused {
  border-color: $dark-grey;
  color: black;
}

.react-tags__selected {
  display: inline;
  font-size: 0.9rem;
  font-weight: bold;
  button {
    display: inline-block;
    box-sizing: border-box;
    margin: 0 6px 6px 0;
    padding: 6px 8px;
    border: 1px solid $mid-pale-grey;
    border-radius: 2px;
    background: $pale-grey;

    /* match the font styles */
    font-size: inherit;
    line-height: inherit;
  }
  button:after {
    content: "\2715";
    color: $mid-grey;
    margin-left: 8px;
  }
  button:hover,
  button:focus {
    border-color: $mid-dark-grey;
  }
}

.react-tags__search {
  display: inline-block;

  /* match tag layout */
  padding: 7px 2px 0 2px;
  //margin-bottom: 6px;
  /* prevent autoresize overflowing the container */
  max-width: 100%;
}

@media screen and (min-width: 30em) {
  .react-tags__search {
    /* this will become the offsetParent for suggestions */
    position: relative;
  }
}

.react-tags__search-input {
  /* prevent autoresize overflowing the container */
  max-width: 100%;

  /* remove styles and layout from this element */
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;

  /* match the font styles */
  font-size: inherit;
  line-height: inherit;
}

.react-tags__search-input::-ms-clear {
  display: none;
}

.react-tags__suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  ul {
    margin: 4px -1px;
    padding: 0;
    list-style: none;
    background: white;
    border: 1px solid $mid-pale-grey;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    li {
      border-bottom: 1px solid $pale-grey;
      padding: 6px 8px;
      mark {
        text-decoration: underline;
        background: none;
        font-weight: 600;
      }
    }
    li:hover {
      cursor: pointer;
      background: $pale-grey;
    }

    li.is-active {
      background: $pale-blue;
    }

    li.is-disabled {
      opacity: 0.5;
      cursor: auto;
    }
  }
}

@media screen and (min-width: 30em) {
  .react-tags__suggestions {
    width: 240px;
  }
}
