/* The class names are applied to each block using the Layout Builder Component Attributes module */

.about h1 {
    text-align: center;
}

.about .mission blockquote {
    font-size: 1.5rem;
    text-align: center;
    max-width: 38rem;
    margin: 0 auto;
}

.about .pillar h2:before {
    content: "✔";
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    font-size: 0.5em;
    line-height: 1.5em;
    text-align: center;
    color: #fff;
    background-color: var(--bs-red);
    border-radius: 1.5em;
    vertical-align: middle;
    margin-top: -0.5em;
    margin-right: 0.2em;
}