{{ attach_library('theport/participant') }}
{% set image_source = file_url(content.field_image['#items'].entity.uri.value) %}
{% set about = content.field_about['#items'][0].value %}
<article class="participant">
	<div>
		<img class="participant-portrait" src="{{image_source}}" width="165" height="165" alt="Portait of a team member">
	</div>
	<div>
		<h3 class="participant-name">{{ label }}</h3>
		<p class="participant-about">{{ about }}</p>
	</div>
</article>
