/*



  💥 Whoop whoop! 💥
  This file contains the global styling for the site that is loaded on every page.
  To avoid bloat, it is better to style individual components.

  Also, if this file has the ending CSS, then you are in the wrong place. Edit the Scss file instead. 😉



*/

@import "bootstrap";

:root {
    --navbar-margin: #{$spacer};
}

.navbar {
    margin-bottom: var(--navbar-margin);
    padding-top: 0.6rem;

    &.bg-primary {
        background-color: $red !important; // use logo color
    }

    .nav-item {
        font-weight: bold;
        font-size: 1.3rem;

        &:last-child a {
            padding-right: 0;
        }

        @media screen and (max-width: 991.98px) {
            text-align: right;
        }

        .is-active {
            cursor: pointer;
        }
    }

    &.navbar-light .navbar-toggler {
        border-color: darken($red, 10%);
    }

    .navbar-brand {
        padding-top: 0.2rem; // visually center logo
    }

    .navbar-nav {
        margin-top: 0.2rem; // visually center text navigation
    }
}

// Visually center the fallback images
.field--type-image picture img {
    display: flex;
    margin: 0 auto;
    max-width: 100%;
}