*.log
*.sql
*.gz
*.css.map
.DS_Store
.vs/
data/
private/
vendor/

# Default Drupal Installation
.gitattributes
.editorconfig
web/.csslintrc
web/.eslintignore
web/.eslintrc.json
web/.ht.router.php
web/.htaccess
web/autoload.php
web/example.gitignore
web/index.php
web/INSTALL.txt
web/README.txt
web/robots.txt
web/update.php
web/web.config
web/core
web/libraries/
web/modules/
web/profiles
web/sites/README.txt
web/sites/example.*
web/sites/default/files/
web/sites/default/settings.php
web/sites/default/default.settings.php
web/sites/default/default.services.yml
web/themes/README.txt
web/themes/contrib/
web/README.md
