*.log
*.sql
*.gz
*.css.map
*.lnk
.DS_Store
.vs/
data/
private/
vendor/

# Default Drupal Installation
.gitattributes
.editorconfig
web/.csslintrc
web/.eslintignore
web/.eslintrc.json
web/.ht.router.php
web/.htaccess
web/autoload.php
web/example.gitignore
web/index.php
web/INSTALL.txt
web/README.txt
web/robots.txt
web/update.php
web/web.config
web/core
web/libraries/
web/modules/README.txt
web/modules/contrib/
web/profiles
web/sites/README.txt
web/sites/example.*
web/sites/default/files/
web/sites/default/settings.php
web/sites/default/default.settings.php
web/sites/default/default.services.yml
web/themes/README.txt
web/themes/contrib/
web/README.md

# Configuration
config/automated_cron*
config/backup_migrate*
config/bootstrap5*
config/block.block.bootstrap5*
config/seven*
config/block.block.seven*
config/captcha*
config/comment*
config/dblog*
config/editor*
config/matomo*
config/system*
config/*webform*
config/*user*
config/filter*
config/views.view.webform*
config/views.view.watchdog*
config/views.view.archive*
config/views.view.frontpage*
config/views.view.glossary*
