.project-full .field--name-field-hero {
    background-color: #fff;
}

.project-full,
.project-full > section:last-child {
    margin-top: 4rem;
}

.project-full > section:not(:last-child) {
    margin: 4rem 0;
}