.event-teaser {
    margin-bottom: 1rem;
}

.event-teaser h3 {
    font-size: 1.4rem;
    font-weight: bold;
}

.event-teaser .field--name-body {
    font-size: 1.2rem;
}

.event-teaser .field--name-field-impressions>.field__item {
    padding: 8px;
    line-height: 1.7;
    border: 1px solid #ddd;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
}

@media (min-width: 320px) and (max-width: 991.98px) {
    .event-teaser .field--name-field-impressions>.field__item {
        display: inline-block;
        max-width: calc(50% - 4px);
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .event-teaser .field--name-field-impressions>.field__item {
        display: inline-block;
        max-width: calc(33.34% - 4px);
    }
}

@media (min-width: 1200px) {
    .event-teaser .field--name-field-impressions>.field__item {
        display: inline-block;
        max-width: calc(25% - 4px);
    }
}

.event-teaser .field--name-field-impressions .field__item img {
    margin: 0;
    padding: 0;
}