/*
 Make copy as readable as possible by using a serif font and adapting the size to the page.
*/
p {
    font-family: Georgia, Cambria, "Times New Roman", "Bitstream Vera Serif", Times, serif;
    max-width: 50em;
    font-size: 110%;
    text-rendering: optimizelegibility;

    @media screen and (min-width: 992px) {
        font-size: 120%;
    }

    .btn {
      font-family: var(--bs-font-sans-serif);
    }
}
