/*



  💥 Whoop whoop! 💥
  This file contains the global styling for the site that is loaded on every page.
  To avoid bloat, it is better to style individual components.

  Also, if this file has the ending CSS, then you are in the wrong place. Edit the Scss file instead. 😉



*/

@import "bootstrap";

:root {
    --navbar-margin: #{$spacer};
    --gutter: #{$grid-gutter-width};
    --spacer: #{$spacer};
}

@import "layout-builder-temp-fix";
@import "navbar";
@import "paragraph";

// Visually center the fallback images
.field--type-image picture img {
    display: flex;
    margin: 0 auto;
    max-width: 100%;
}