.hero, .hero-inner {
    width: max(200px, 100%);
    height: clamp(140px, 60vw, 800px);
}

.hero {
    margin-top: calc(var(--navbar-margin) * -1);
    margin-bottom: var(--navbar-margin);
    z-index: 0;
}

.hero-inner {
    position: absolute;
    left: 0;
}

.hero .field--name-body {
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    color: white;
}

@media (max-width: 319.98px) {
    .hero .field--name-body {
        text-align: center;
        position: relative;
        padding: 1rem;
    }
}

@media (min-width: 320px) {
    .hero .field--name-body {
        position: absolute;
        top: 25%;
        left: 5%;
        max-width: 50%;
    }
}

.hero .field--name-body>* {
    font-weight: bold;
    font-size: clamp(1.5rem, 7vw, 5rem);
    line-height: 1.1;
}

.hero .field--name-field-media-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Display in the Drupal backend */
.block-local-tasks-block+.block-system-main-block .hero,
.block-local-tasks-block+.block-system-main-block .hero-inner,
.block-local-tasks-block+.block-system-main-block .hero .field--name-field-media-image img {
    position: relative;
    height: 400px;
    margin: 0;
    overflow: hidden;
}

.block-local-tasks-block+.block-system-main-block .hero .field--name-body>* {
  font-size: 2.8rem;
}
