.hero {
    width: 100%;
    margin-top: calc(var(--navbar-margin) * -1);
    margin-bottom: var(--navbar-margin);
    z-index: 0;
}

.hero-inner {
    position: absolute;
    left: 0;
    width: 100%;
}

@media (max-width: 991.98px) {
    .hero, .hero-inner {
        height: 60vw;
    }
}

@media (min-width: 992px) {
    .hero, .hero-inner {
        height: 60vw;
        max-height: 900px;
    }
}

.hero .field--name-body {
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    color: white;
}

@media (max-width: 319.98px) {
    .hero .field--name-body {
        text-align: center;
        position: relative;
        padding: 1rem;
    }
}

@media (min-width: 320px) {
    .hero .field--name-body {
        position: absolute;
        bottom: 10%;
        left: 5%;
        max-width: 50%;
    }
}

.hero .field--name-body>* {
    font-weight: bold;
    font-size: clamp(1.5rem, 5vw, 5rem);
    line-height: 1.1;
}

.hero .field--name-field-hero, .hero .field--name-field-hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero .field--name-field-hero img {
    object-fit: cover;
}

#layout-builder .hero, #layout-builder .hero-inner {
    position: relative;
    max-height: 400px;
    margin: 0;
}