{% extends "block.html.twig" %}
{% block content %}
<div class="navbar-brand d-flex align-items-center">
  <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="d-block">
    <img src="/themes/custom/theport/templates/header/the-port-logo.svg" alt="{{ 'Home'|t }}" width="150" height="60"/>
  </a>
</div>
{% endblock %}