{{ attach_library('theport/participant') }}
{% set about = content.field_about['#items'][0].value %}
<article class="participant-teaser">
	{{ content.field_image }}
	<div>
		<h3 class="participant-teaser-name">{{ label }}</h3>
		<p class="participant-teaser-about">{{ about }}</p>
	</div>
</article>
