.event-participants {
    margin: 0 0 3rem 0;
}

.event-participants ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-gap: 0;
    padding: 0;
}

.event-participants ul li {
    list-style-type: none;
}