<nav aria-labelledby="block-footer-label"{{ attributes.addClass(classes)|without('role', 'aria-labelledby') }}>
  <p id="block-footer-label" class="visually-hidden">{{ configuration.label }}</p>
  {% block content %}
    {{ content }}
  {% endblock %}
</nav>