.view-promoted-projects {
    margin-bottom: 24px;
}

@media (max-width: 575.98px) {
    .view-promoted-projects .views-row {
        margin-bottom: 24px;
    }
}

@media (min-width: 576px) {
    .view-promoted-projects .view-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
        grid-column-gap: 24px;
        grid-row-gap: 24px;
    }
}

@media (min-width: 768px) {
    .view-promoted-projects .view-content {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px) {
    .view-promoted-projects .view-content {
        grid-template-columns: repeat(4, 1fr);
    }
}

.view-promoted-projects .views-row {
    display: flex;
}

.view-promoted-projects .card {
    width: 100%;
}

.view-promoted-projects .card:hover {
    box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.1);
}

@media (max-width: 575.98px) {
    .view-promoted-projects .card {
        flex-direction: row;
    }

    .view-promoted-projects .card-image-container {
        display: none;
    }
}

@media (min-width: 576px) {
    .view-promoted-projects .card-image-container {
        width: 100%;
        display: block;
        position: relative;
        padding-bottom: 66.67%;
    }

    .view-promoted-projects .card-image {
        object-fit: contain;
        position: absolute;
        top: 10px;
        left: 10px;
        width: calc(100% - 20px);
        height: calc(100% - 20px);
    }
}


.view-promoted-projects .card-text {
    margin-bottom: 0;
}

/* Make the link cover the entire card */
.view-promoted-projects .card-link {
    cursor: pointer;
    display: block;
    position: absolute;
    background-color: transparent;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    text-indent: -999px;
}