{{ attach_library('theport/partner') }}
{% set url = content.field_link['#items'].0.url.uri %}
<a class="partner" href="{{url}}" target="_blank" rel="noopener" title="{{node.label}}">{{ content.field_image }}</a>